h1 {
    text-align: center;
    font-size: 400%;
    padding-top: 5%;
}

body {
    background-color: cadetblue;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    border: 4px;
    border-style: solid;
    margin-left: 70%;
    margin-top: 0%;
    position: relative;
    top: -4px;
    right: -4px;
    font-size: 1.1em;
}

p {
    font-size: 1.1em;
    padding: 0% 5px;
}

.container {
    float: left;
    border: 4px;
    border-style: solid;
    background-color: rgb(42, 107, 29);
    margin: 3%;
}

#item1 {
    background-color: pink;
}

#item2 {
background-color: salmon;
}

#item3 {
    background-color: sandybrown;
}

/****desktop view****/
@media (min-width: 992px) {
    .container {
        width: 26.5%;
        float: left;
    }
}

/****tablet view****/

@media (min-width: 768px) and (max-width: 991px) {
    #container1 {
        width: 43%;
        float: left;
    }

    #container2 {
        width: 43%;
        float: right;
    }

    #container3 {
        clear: both;
    }
}

/****mobile view****/
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}