h1 {
    text-align: center;
    size: 175%;

}

.menu_item {
    background-color: rgb(140, 143, 143);
    border: 2px;
    border-style: solid;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

.menu_item .description {
    clear: right;
}

.item_name {
    text-align: center;
    border: 2px;
    border-style: solid;
    box-sizing: border-box;
    margin: 0px;
    padding: 5px;
    width: 30%;
    float: right;
    position: relative;
    right: -12px;
    top: -12px;
}

.menu_item h2 {
    font-family: Arial, Helvetica, sans-serif;
    size: 125%;
    font-weight: bold;
}

#Chicken {
    background-color: pink;
}

#Beef {
    background-color: salmon;
}

#Sushi {
    background-color: sandybrown;
}

/****desktop view****/
@media (min-width: 992px) {
    .float_child {
        width: 33.33%;
        float: left;
    }
}

/****tablet view****/

@media (min-width:768px) and (max-width: 991px) {
    #s1 {
        width: 50%;
        float: left;
    }

    #s2 {
        width: 50%;
        float: right;
    }

    #s3 {
        width: 100%;
        clear:both;
    }
}

/****mobile view****/
@media (max-width: 767px) {
    .float_child {
        width: 100%;
    }
}